DoctorPrescription/.vs/DoctorPrescription/v15/Server/sqlite3/db.lock
*.ide-shm
*.ide
*.ide-wal
DoctorPrescription/DoctorPrescription/FormMain.Designer.cs.rej
DoctorPrescription/DoctorPrescription/obj/Debug/DoctorPrescription.FormMain.resources
DoctorPrescription/DoctorPrescription/obj/Debug/DoctorPrescription.Properties.Resources.resources
