DoctorPrescription/.vs/DoctorPrescription/v15/Server/sqlite3/db.lock
DoctorPrescription/.vs/DoctorPrescription/v15/Server/sqlite3/storage.ide-shm
DoctorPrescription/.vs/DoctorPrescription/v15/Server/sqlite3/storage.ide-wal
